# ==========================================
# AWS / LocalStack
# ==========================================
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localhost:4566

# ==========================================
# Integrações externas (mocks)
# ==========================================
COMM_DISPATCHER_BASE_URL=http://localhost:8081
CONTESTATION_CALLBACK_BASE_URL=http://localhost:8082

# ==========================================
# SQLite
# ==========================================
SQLITE_PATH=app.bb

# ==========================================
# SQS DLQ Config
# ==========================================
# Número máximo de tentativas antes de ir para DLQ
SQS_MAX_RECEIVE_COUNT=3

# ==========================================
# Simulação de falha no callback (0 a 1.0)
# 0 = nunca falha | 1.0 = sempre falha
# Use 1.0 para testar o status CALLBACK_FALHA
# ==========================================
CALLBACK_FAILURE_RATE=0
